<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fresh</title>
    {%load static%}
    <link rel="stylesheet" type="text/css" href="{% static 'fresh.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    
</head>

<body>
    <header class="lable">
        <div class="navbar">
            <p style="color: white;font-weight: bolder;font-size: 40px;">Btrixx</p>
        </div>
        <div class="nav-address">
            <p><a href="#">Deliver to Ahemdabad 380001</a></p>
            <p><a href="#" style="font-size: 22px;">Update location</a></p>
        </div>
        <div class="dropdown1">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                All
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">All Categories</a></li>
                <li><a class="dropdown-item" href="#">Alexa Skills</a></li>
                <li><a class="dropdown-item" href="#">Devices</a></li>
                <li><a class="dropdown-item" href="#">Btrixx Fresh</a></li>
                <li><a class="dropdown-item" href="#">Appliance</a></li>
                <li><a class="dropdown-item" href="#">Apps & Games</a></li>
                <li><a class="dropdown-item" href="#">Beauty</a></li>
                <li><a class="dropdown-item" href="#">Books</a></li>
                <li><a class="dropdown-item" href="#">Clothing & Accessories</a></li>
                <li><a class="dropdown-item" href="#">Deals</a></li>
                <li><a class="dropdown-item" href="#">Electronics</a></li>
                  
            </ul>
            <input type="search" placeholder="search Btrixx.in" style="border-radius: 8px; padding-left: 10px;">
            <button class="btn btn-warning">search</button>
        </div>
        <div class="dropdown2">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                En.
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">English</a></li>
                <li><a class="dropdown-item" href="#">हिन्‍दी-Hi</a></li>
                <li><a class="dropdown-item" href="#">தமிழ்-Tm</a></li>
                <li><a class="dropdown-item" href="#">తెలుగు-Te</a></li>
                <li><a class="dropdown-item" href="#">ಕನ್ನಡ-Kn</a></li>
                <li><a class="dropdown-item" href="#">മലയാളം-Ml</a></li>
                <li><a class="dropdown-item" href="#">ગુજરાતી-Gu</a></li>
                <li><a class="dropdown-item" href="#">নমস্কার-Bn</a></li>
                  
            </ul>
        </div>
        <div class="dropdown3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                Account List.
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <b>
                    <p style="text-align: center;color: rgb(234, 221, 47);">Your List</p>
                </b>
                <li><a class="dropdown-item" href="#">Create A Wish List</a></li>
                <li><a class="dropdown-item" href="#">Wish From Any Website</a></li>
                <li><a class="dropdown-item" href="#">Disvover Your Style</a></li>
                <li><a class="dropdown-item" href="#">Exploer Showroom</a></li>
                  
            </ul>
        </div>
        <div class="nav-returns">
            <p><a href="#">Returns</a></p>
            <p><a href="#">& Orders</a></p>
        </div>
        <div class="cart">
            <i class="fa-solid fa-cart-shopping" style="color: white;cursor: pointer;"></i>
            <p style="color: aliceblue;cursor: pointer;">Cart</p>
        </div>
    </header>
    <header class="lable2">
        <nav class="navbar navbar-blue bg-white">
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#load">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="load">
                <ul class="navbar-nav mr-auto sidebar">
                    <li class="nav-item"><a href="#" class="nav-link"
                            style="color:rgb(53, 17, 198);font-size: 25px;">Trending</a></li>
                    <li class="nav-item"><a href="#" class="nav-link" style="color:rgb(13, 13, 13);">Best Sellers</a>
                    </li>
                    <li class="nav-item"><a href="#" class="nav-link" style="color:rgb(10, 10, 10);">Movers/Shakers</a>
                    </li>
                    <li class="nav-item"><a href="#" class="nav-link"
                            style="color:rgb(53, 17, 198); font-size: 25px;">Digital Content</a></li>
                    <li class="nav-item"><a href="#" class="nav-link" style="color:rgb(13, 13, 13);">miniTV-FREE</a>
                    </li>
                    <li class="nav-item"><a href="#" class="nav-link" style="color:rgb(13, 13, 13);">Echo & Alexa</a>
                    </li>
                    <li class="nav-item"><a href="#" class="nav-link" style="color:rgb(13, 13, 13);">Fire TV</a></li>
                    <li class="nav-item"><a href="#" class="nav-link" style="color:rgb(13, 13, 13);">Btrixx prime
                            Music</a></li>
                    <li class="nav-item"><a href="#" class="nav-link" style="color:rgb(13, 13, 13);">Btrixx Prime
                            Video</a></li>
                </ul>
            </div>
        </nav>
        <div class="menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/fresh/">Fresh</a></li>
                <li><a href="/minitv/">miniTV</a></li>
                <li><a href="#">Sell</a></li>
                <li><a href="#">Best Sellers</a></li>
                <li><a href="#">Todays's Deals</a></li>
                <li><a href="#">Customer Service</a></li>
                <li><a href="#">Prime</a></li>
                <li><a href="#">Fashion</a></li>
                <li><a href="#">New Releases</a></li>
                <li><a href="#">Home & Kitchen</a></li>
            </ul>
        </div>
    </header>
    <nav class="nav1">
        <p>To continue shopping for Btrixx Fresh, choose another address.</p>
    </nav>
    <nav class="nav2">
        <div class="div1">
            <p style="color: rgb(46, 176, 72);">fresh</p>
            <ul>
                <li><a href="">Deals</a></li>
                <li><a href="">past purchases</a></li>
                <li><a href="">Fruits & Vegetables</a></li>
                <li><a href="">Atta, rice & grain</a></li>
                <li><a href="">Oil & ghee</a></li>
                <li><a href="">Milk & dairy</a></li>
                <li><a href="">Eggs, meat & fish</a></li>
            </ul>
        </div>
    </nav>
    <img style="height: 450px;width: 1513px;" src="{%static 'FRESH & HEALTHY.jpg'%}" alt="">
    <button class="btn-img">Order now</button> 
    <footer class="footer">
            <div class="container">
                <div class="footter-content">
                    <h3 style="color: white;">Contect Us</h3>
                    <p style="color: white;">Email:example@gamil.com</p>
                    <p style="color: white;">phone:+915438562396</p>
                    <p style="color: white;">Address:My Address 123</p>
                </div>
                <div class="footter-content">
                    <ul>
                        <li><a href="" style="color: white;">Home</a></li>
                        <li><a href="" style="color: white;">About</a></li>
                        <li><a href="" style="color: white;">Contect</a></li>
                        <li><a href="" style="color: white;">Help</a></li>
                    </ul>
                </div>
                <div class="footter-content">
                    <h3 style="color: white;">Follow Us</h3>
                    <p><a href="" style="color: white;">Facebook</a></p>
                    <p><a href="" style="color: white;">Instagram</a></p>
                    <p><a href="" style="color: white;">Linkedin</a></p>
                    <p><a href="" style="color: white;">Twitter</a></p>
                </div>
            </div>
        </footer> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>