<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
    {%load static%}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>

<body>
    <header class="lable">
        <div class="navbar">
            <p style="color: white;font-weight: bolder;font-size: 40px;">Btrixx</p>
        </div>
        <div class="nav-address">
            <p><a href="#">Deliver to Ahemdabad 380001</a></p>
            <p><a href="#" style="font-size: 22px;">Update location</a></p>
        </div>
        <div class="dropdown1">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                All
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">All Categories</a></li>
                <li><a class="dropdown-item" href="#">Alexa Skills</a></li>
                <li><a class="dropdown-item" href="#">Devices</a></li>
                <li><a class="dropdown-item" href="#">Btrixx Fresh</a></li>
                <li><a class="dropdown-item" href="#">Appliance</a></li>
                <li><a class="dropdown-item" href="#">Apps & Games</a></li>
                <li><a class="dropdown-item" href="#">Beauty</a></li>
                <li><a class="dropdown-item" href="#">Books</a></li>
                <li><a class="dropdown-item" href="#">Clothing & Accessories</a></li>
                <li><a class="dropdown-item" href="#">Deals</a></li>
                <li><a class="dropdown-item" href="#">Electronics</a></li>
            </ul>
            <input type="search" placeholder="search Btrixx.in" style="border-radius: 8px; padding-left: 10px;">
            <button class="btn btn-warning">search</button>
        </div>
        <div class="dropdown2">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                En.
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">English</a></li>
                <li><a class="dropdown-item" href="#">हिन्‍दी-Hi</a></li>
                <li><a class="dropdown-item" href="#">தமிழ்-Tm</a></li>
                <li><a class="dropdown-item" href="#">తెలుగు-Te</a></li>
                <li><a class="dropdown-item" href="#">ಕನ್ನಡ-Kn</a></li>
                <li><a class="dropdown-item" href="#">മലയാളം-Ml</a></li>
                <li><a class="dropdown-item" href="#">ગુજરાતી-Gu</a></li>
                <li><a class="dropdown-item" href="#">নমস্কার-Bn</a></li>
                  
            </ul>
        </div>
        <div class="dropdown3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                Account List.
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <b>
                    <p style="text-align: center;color: rgb(234, 221, 47);">Your List</p>
                </b>
                <li><a class="dropdown-item" href="#">Create A Wish List</a></li>
                <li><a class="dropdown-item" href="#">Wish From Any Website</a></li>
                <li><a class="dropdown-item" href="#">Disvover Your Style</a></li>
                <li><a class="dropdown-item" href="#">Exploer Showroom</a></li>
                  
            </ul>
        </div>
        <div class="nav-returns">
            <p><a href="#">Returns</a></p>
            <p><a href="#">& Orders</a></p>
        </div>
        <div class="cart">
            <i class="fa-solid fa-cart-shopping" style="color: white;cursor: pointer;"></i>
            <p style="color: aliceblue;cursor: pointer;">Cart</p>
        </div>
    </header>
    <header class="lable2">
        <nav class="navbar navbar-blue bg-white">
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#load">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="load">
                <ul class="navbar-nav mr-auto sidebar">
                    <li class="nav-item"><a href="#" class="nav-link"
                            style="color:rgb(53, 17, 198);font-size: 25px;">Trending</a></li>
                    <li class="nav-item"><a href="#" class="nav-link" style="color:rgb(13, 13, 13);">Best Sellers</a>
                    </li>
                    <li class="nav-item"><a href="#" class="nav-link" style="color:rgb(10, 10, 10);">Movers/Shakers</a>
                    </li>
                    <li class="nav-item"><a href="#" class="nav-link"
                            style="color:rgb(53, 17, 198); font-size: 25px;">Digital Content</a></li>
                    <li class="nav-item"><a href="#" class="nav-link" style="color:rgb(13, 13, 13);">miniTV-FREE</a>
                    </li>
                    <li class="nav-item"><a href="#" class="nav-link" style="color:rgb(13, 13, 13);">Echo & Alexa</a>
                    </li>
                    <li class="nav-item"><a href="#" class="nav-link" style="color:rgb(13, 13, 13);">Fire TV</a></li>
                    <li class="nav-item"><a href="#" class="nav-link" style="color:rgb(13, 13, 13);">Btrixx prime
                            Music</a></li>
                    <li class="nav-item"><a href="#" class="nav-link" style="color:rgb(13, 13, 13);">Btrixx Prime
                            Video</a></li>
                </ul>
            </div>
        </nav>
        <div class="menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/fresh/">Fresh</a></li>
                <li><a href="/minitv/">miniTV</a></li>
                <li><a href="#">Sell</a></li>
                <li><a href="#">Best Sellers</a></li>
                <li><a href="#">Todays's Deals</a></li>
                <li><a href="#">Customer Service</a></li>
                <li><a href="#">Prime</a></li>
                <li><a href="#">Fashion</a></li>
                <li><a href="#">New Releases</a></li>
                <li><a href="#">Home & Kitchen</a></li>
            </ul>
        </div>
    </header>
    <header class="lable3">
        <div class="menu2">
            <ul>
                <li><a href="#">Today's Deals</a></li>
                <li><a href="#">All Deals</a></li>
                <li><a href="#">Watched Deals</a></li>
                <li><a href="#">Subscribe & Save</a></li>
                <li><a href="#">Coupons</a></li>
                <li><a href="#">Clearance</a></li>
                <li><a href="#">Refurbished & Open Box</a></li>
            </ul>
        </div>
    </header>
    <h2 style="padding: 30px;font-family: Arial, Helvetica, sans-serif;">Curated for you</h2>
    <div class="container">
        <div class="row" style="gap: 0px;">
            <div class="card col-sm-4">
                <div class="card-body">
                    <img src="https://m.media-amazon.com/images/G/31/img24/Consumables/Onam24/Topical_PCPO_Onam.jpg"
                        alt="" class="card-img-top">
                    <p><a href="#" style="color: rgb(61, 61, 182);text-decoration: none;font-size: 20px;">Onam Shopping
                            Store</a></p>
                </div>
            </div>
            <div class="card col-sm-4">
                <div class="card-body">
                    <img src="https://m.media-amazon.com/images/G/31/IMG15/LA/Vach/HCTP/Topical_PCPO_REVISED.jpg" alt=""
                        class="card-img-top">
                    <p><a href="#" style="color: rgb(61, 61, 182);text-decoration: none;font-size: 20px;">Eectronic
                            Festive Sall</a></p>
                </div>
            </div>
            <div class="card col-sm-4">
                <div class="card-body">
                    <img src="https://m.media-amazon.com/images/G/31/prime/Topical_PCPO_ForYou_V2.jpg" alt=""
                        class="card-img-top">
                    <p><a href="#" style="color: rgb(61, 61, 182);text-decoration: none;font-size: 20px;">Deals for
                            you</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="all_images">
        <div style="text-align: center;"><img
                src="https://m.media-amazon.com/images/G/31/Events/img23/TDP/SBC_Coupons2.jpg" alt="">
            Coupons</div>
        <div style="text-align: center;"><img
                src="https://m.media-amazon.com/images/G/31/img20/Events/Jup21dealsgrid/blockbuster.jpg" alt="">
            Deals</div>
        <div style="text-align: center;"><img
                src="https://m.media-amazon.com/images/G/31/img20/Events/Jup21dealsgrid/trending.jpg" alt="">
            Lightings</div>
        <div style="text-align: center;"><img
                src="https://m.media-amazon.com/images/G/31/img20/Events/Jup21dealsgrid/All_Icons_Template_1_icons_01.jpg"
                alt="">
            Mobiles</div>
        <div style="text-align: center;"><img
                src="https://m.media-amazon.com/images/G/31/img20/Events/Jup21dealsgrid/computer_accessories.jpg"
                alt="">
            computer_acces</div>
        <div style="text-align: center;"><img
                src="https://m.media-amazon.com/images/G/31/img20/Events/Jup21dealsgrid/electronics.jpg" alt="">
            Electronics</div>
        <div style="text-align: center;"><img
                src="https://m.media-amazon.com/images/G/31/img20/Events/Jup21dealsgrid/home_appliances.jpg" alt="">
            Large Appliance</div>
        <div style="text-align: center;"><img
                src="https://m.media-amazon.com/images/G/31/img20/Events/Jup21dealsgrid/Home__kitchen.jpg" alt="">
            Home__kitchen</div>
        <div style="text-align: center;"><img
                src="https://m.media-amazon.com/images/G/31/img20/Events/Jup21dealsgrid/furniture.jpg" alt="">
            furniture</div>
        <div style="text-align: center;"><img
                src="https://m.media-amazon.com/images/G/31/img20/Events/Jup21dealsgrid/All_ASIN-Icons_150x150_PCA.jpg"
                alt="">
            Grooming</div>
    </div>
    <div class="container" style="margin: 0px;padding: 50px;">
        <div class="row" style="gap: 50px;">
            <div class="card col-sm-2">
                <img src="https://m.media-amazon.com/images/I/61nO5YRaAxL._AC_FMavif_SF339,339_QL58_.jpg?aicid=discounts-widgets-horizonte"
                    alt="" class="card-img-top">
                <div style="display: flex;align-items: center;">
                    <button class="btn btn-danger" style="width: 80px;height: 50px;" onclick="addToCart()">23%
                        off</button>
                    <p style="margin: 10px;cursor: pointer;">Limited Time Deals</p>
                </div>
                <p style="font-size: 20px;cursor: pointer;">iQOO Z9s 5G(8GB RAM, 128GB Storage)</p>
                <p style="font-size: 15px;"><a href="#">+1 Colors/Pattens</a></p>
            </div>
            <div class="card col-sm-2">
                <img src="https://m.media-amazon.com/images/I/61SnaL4+EFL._AC_FMavif_SF339,339_QL58_.jpg?aicid=discounts-widgets-horizonte"
                    alt="" class="card-img-top">
                <div style="display: flex;align-items: center;">
                    <button class="btn btn-danger" style="width: 80px;height: 50px;" onclick="addToCart()">16%
                        off</button>
                    <p style="margin: 10px;cursor: pointer;">Limited Time Deals</p>
                </div>
                <p style="font-size: 20px;cursor: pointer;">iQOO Z9s Pro 5G(8GB RAM, 256GB Storage)</p>
                <p style="font-size: 15px;"><a href="#">+1 colors/pattens</a></p>
            </div>
            <div class="card col-sm-2">
                <img src="https://m.media-amazon.com/images/I/61Io5-ojWUL._AC_FMavif_SF339,339_QL58_.jpg?aicid=discounts-widgets-horizonte"
                    alt="" class="card-img-top">
                <div style="display: flex;align-items: center;">
                    <button class="btn btn-danger" style="width: 80px;height: 50px;" onclick="addToCart()">5%
                        off</button>
                    <p style="margin: 10px;cursor: pointer;">Limited Time Deals</p>
                </div>
                <p style="font-size: 20px;cursor: pointer;">OnePlus Nord CE4 Lite 5G(8GB RAM, Super Silver)</p>
            </div>
            <div class="card col-sm-2">
                <img src="https://m.media-amazon.com/images/I/81K450cOJML._AC_FMavif_SF339,339_QL58_.jpg?aicid=discounts-widgets-horizonte"
                    alt="" class="card-img-top">
                <div style="display: flex;align-items: center;">
                    <button class="btn btn-danger" style="width: 80px;height: 50px;" onclick="addToCart()">18%
                        off</button>
                    <p style="margin: 10px;cursor: pointer;">Limited Time Deals</p>
                </div>
                <p style="font-size: 20px;cursor: pointer;">Samsung Galaxy M35 5G(Moonlight Blue,6GB Ram)</p>
            </div>

            <div class="card col-sm-2">
                <img src="https://m.media-amazon.com/images/I/616wnQmPQ-L._AC_FMavif_SF339,339_QL58_.jpg?aicid=discounts-widgets-horizonte"
                    alt="" class="card-img-top">
                <div style="display: flex;align-items: center;">
                    <button class="btn btn-danger" style="width: 110px;height: 50px;" onclick="addToCart()">Limited time
                        deal</button>
                </div>
                <p style="font-size: 20px;cursor: pointer;">OnePlus Nord 4 5G(Oasis green,8GB RAM,256GB Storage)</p>
            </div>
            <div class="card col-sm-2">
                <img src="https://m.media-amazon.com/images/I/81yobRRV8nL._AC_FMavif_SF339,339_QL58_.jpg?aicid=discounts-widgets-horizonte"
                    alt="" class="card-img-top">
                <div style="display: flex;align-items: center;">
                    <button class="btn btn-danger" style="width: 80px;height: 50px;" onclick="addToCart()">64%
                        off</button>
                    <p style="margin: 10px;cursor: pointer;">Limited Time Deals</p>
                </div>
                <p style="font-size: 20px;cursor: pointer;">Cookwell Bullet Mixer Grinder(5 Jars,3 Blander)</p>
            </div>
            <div class="card col-sm-2">
                <img src="https://m.media-amazon.com/images/I/61wJNP17lEL._AC_FMavif_SF339,339_QL58_.jpg?aicid=discounts-widgets-horizonte"
                    alt="" class="card-img-top">
                <div style="display: flex;align-items: center;">
                    <button class="btn btn-danger" style="width: 80px;height: 50px;" onclick="addToCart()">72%
                        off</button>
                    <p style="margin: 10px;cursor: pointer;">Limited Time Deals</p>
                </div>
                <p style="font-size: 20px;cursor: pointer;">noise pulse Go Buzz Smart Watch With Advances Blu...</p>
            </div>
            <div class="card col-sm-2">
                <img src="https://m.media-amazon.com/images/I/71fYAthCwfL._AC_FMavif_SF339,339_QL58_.jpg?aicid=discounts-widgets-horizonte"
                    alt="" class="card-img-top">
                <div style="display: flex;align-items: center;">
                    <button class="btn btn-danger" style="width: 80px;height: 50px;" onclick="addToCart()">45%
                        off</button>
                    <p style="margin: 10px;cursor: pointer;">Limited Time Deals</p>
                </div>
                <p style="font-size: 20px;cursor: pointer;">Realme Buds Air 6 TWS in Ear Earbuds with 12.4 Min...</p>
            </div>
            <div class="card col-sm-2">
                <img src="https://m.media-amazon.com/images/I/41AAettnpkL._AC_FMavif_SF339,339_QL58_.jpg?aicid=discounts-widgets-horizonte"
                    alt="" class="card-img-top">
                <div style="display: flex;align-items: center;">
                    <button class="btn btn-danger" style="width: 80px;height: 50px;" onclick="addToCart()">29%
                        off</button>
                    <p style="margin: 10px;cursor: pointer;">Limited Time Deals</p>
                </div>
                <p style="font-size: 20px;cursor: pointer;">JBL Flip 6 Wireless Portable Bluetooth Headphone Pro</p>
            </div>
            <div class="card col-sm-2">
                <img src="https://m.media-amazon.com/images/I/61B3fWfZ9GL._AC_FMavif_SF339,339_QL58_.jpg?aicid=discounts-widgets-horizonte"
                    alt="" class="card-img-top">
                <div style="display: flex;align-items: center;">
                    <button class="btn btn-danger" style="width: 80px;height: 50px;" onclick="addToCart()">80%
                        off</button>
                    <p style="margin: 10px;cursor: pointer;">Limited Time Deals</p>
                </div>
                <p style="font-size: 20px;cursor: pointer;">dreame L10 Prime Robot Vacuum Cleaner with 7m...</p>
            </div>
        </div>
    </div>
    <nav class="last">
        <p>View more Deals</p>
    </nav>
    <div>
        <footer class="footer">
            <div class="container">
                <div class="footter-content">
                    <h3 style="color: white;">Contect Us</h3>
                    <p style="color: white;">Email:example@gamil.com</p>
                    <p style="color: white;">phone:+915438562396</p>
                    <p style="color: white;">Address:My Address 123</p>
                </div>
                <div class="footter-content">
                    <ul>
                        <li><a href="" style="color: white;">Home</a></li>
                        <li><a href="" style="color: white;">About</a></li>
                        <li><a href="" style="color: white;">Contect</a></li>
                        <li><a href="" style="color: white;">Help</a></li>
                    </ul>
                </div>
                <div class="footter-content">
                    <h3 style="color: white;">Follow Us</h3>
                    <p><a href="" style="color: white;">Facebook</a></p>
                    <p><a href="" style="color: white;">Instagram</a></p>
                    <p><a href="" style="color: white;">Linkedin</a></p>
                    <p><a href="" style="color: white;">Twitter</a></p>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>